body {
	background-color: #eee;
	font-family: Arial, sans-serif;
	font-size: 0.75em;
}

#tooltip {
	border: 2px solid white;
	background-color: black;
	color: #fff;
	padding: 2px;
	opacity: 0.8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888;
}
